In [1]:
import pandas as pd
import numpy as np
from matplotlib.patches import Polygon
from matplotlib.collections import PatchCollection
from matplotlib.colors import Normalize
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import matplotlib.cm
%matplotlib inline
import plotly.express as px
import seaborn as sns

In [52]:
data=pd.read_csv('/home/kirti/Data_sets/Temperatures/GlobalLandTemperaturesByState.csv')
data.dropna().head()

           dt  AverageTemperature  AverageTemperatureUncertainty State Country
0  1855-05-01              25.544                          1.171  Acre  Brazil
1  1855-06-01              24.228                          1.103  Acre  Brazil
2  1855-07-01              24.371                          1.044  Acre  Brazil
3  1855-08-01              25.427                          1.073  Acre  Brazil
4  1855-09-01              25.675                          1.014  Acre  Brazil

In [51]:
data=data[data['Country']=='Australia']
#data
#data.dropna() 
data['State'].value_counts()

Tasmania                        2073
Victoria                        2073
Australian Capital Territory    2073
New South Wales                 2073
South Australia                 2073
Western Australia               1935
Queensland                      1901
Northern Territory              1901
Name: State, dtype: int64

In [ ]:
from urllib.request import urlopen
import json

with urlopen('https://gist.githubusercontent.com/minikomi/4043986/raw/2463dda0e2e7094cb58db6bd33bf5e2e92d63c55/japan.json') as response:
    states=json.load(response)
states['features'][0]