In [1]:
import pandas as pd
staff_df=pd.DataFrame([{'Name':'Kelly', 'Role':'Director of HR'},
                       {'Name':'Sally','Role':'Course liasion'},
                       {'Name':'James','Role':'Grader'}])

staff_df=staff_df.set_index('Name')


student_df=pd.DataFrame([{'Name':'Mike','School':'Law'},
            {'Name':'James','School':'Business'},
            {'Name':'Sally','School':'Engineering'}])


student_df=student_df.set_index('Name')
print(staff_df.head())
print(student_df.head())

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader
            School
Name
Mike           Law
James     Business
Sally  Engineering

In [2]:
pd.merge(staff_df,student_df,how='outer',left_index=True,right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In [3]:
pd.merge(staff_df,student_df,how='inner',left_index=True,right_index=True)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

In [4]:
pd.merge(staff_df,student_df,how='left',left_index=True,right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [5]:
student_df=student_df.reset_index()
staff_df=staff_df.reset_index()

pd.merge(staff_df,student_df,how='right',on='Name')

    Name            Role       School
0  Sally  Course liasion  Engineering
1  James          Grader     Business
2   Mike             NaN          Law

In [21]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR', 
                          'Location': 'State Street'},
                         {'Name': 'Sally', 'Role': 'Course liasion', 
                          'Location': 'Washington Avenue'},
                         {'Name': 'James', 'Role': 'Grader', 
                          'Location': 'Washington Avenue'}])
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 
                            'Location': '1024 Billiard Avenue'},
                           {'Name': 'Mike', 'School': 'Law', 
                            'Location': 'Fraternity House #22'},
                           {'Name': 'Sally', 'School': 'Engineering', 
                            'Location': '512 Wilson Crescent'}])
pd.merge(staff_df,student_df,how='left',on='Name')

    Name            Role         Location_x       School            Location_y
0  Kelly  Director of HR       State Street          NaN                   NaN
1  Sally  Course liasion  Washington Avenue  Engineering   512 Wilson Crescent
2  James          Grader  Washington Avenue     Business  1024 Billiard Avenue

In [23]:
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 
                          'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name': 'Brooks', 
                          'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name': 'Wilde', 
                          'Role': 'Grader'}])
student_df = pd.DataFrame([{'First Name': 'James', 'Last Name': 'Hammond', 
                            'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name': 'Smith', 
                            'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name': 'Brooks', 
                            'School': 'Engineering'}])

pd.merge(staff_df,student_df,how='inner',on=['First Name','Last Name'])

  First Name Last Name            Role       School
0      Sally    Brooks  Course liasion  Engineering

In [2]:
import numpy as np
import timeit

df=pd.read_csv('/home/kirti/Data_sets/census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [7]:
(df.where(df['SUMLEV']==50)
   .dropna()
   .set_index(['STNAME','CTYNAME'])
   .rename(columns={'ESTIMATESBASE2010':'Estimate Base 2010'}))

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County       50.0     3.0       6.0    1.0     1.0
        Baldwin County       50.0     3.0       6.0    1.0     3.0
        Barbour County       50.0     3.0       6.0    1.0     5.0
        Bibb County          50.0     3.0       6.0    1.0     7.0
        Blount County        50.0     3.0       6.0    1.0     9.0
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County    50.0     4.0       8.0   56.0    37.0
        Teton County         50.0     4.0       8.0   56.0    39.0
        Uinta County         50.0     4.0       8.0   56.0    41.0
        Washakie County      50.0     4.0       8.0   56.0    43.0
        Weston County        50.0     4.0       8.0   56.0    45.0

                           CENSUS2010POP  Estimate Base 2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County           54571.0             54571.0          54660.0
        Baldwin County          182265.0            182265.0         183193.0
        Barbour County           27457.0             27457.0          27341.0
        Bibb County              22915.0             22919.0          22861.0
        Blount County            57322.0             57322.0          57373.0
...                                  ...                 ...              ...
Wyoming Sweetwater County        43806.0             43806.0          43593.0
        Teton County             21294.0             21294.0          21297.0
        Uinta County             21118.0             21118.0          21102.0
        Washakie County           8533.0              8533.0           8545.0
        Weston County             7208.0              7208.0           7181.0

                           POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME  CTYNAME                                              ...
Alabama Autauga County             55253.0          55175.0  ...
        Baldwin County            186659.0         190396.0  ...
        Barbour County             27226.0          27159.0  ...
        Bibb County                22733.0          22642.0  ...
        Blount County              57711.0          57776.0  ...
...                                    ...              ...  ...
Wyoming Sweetwater County          44041.0          45104.0  ...
        Teton County               21482.0          21697.0  ...
        Uinta County               20912.0          20989.0  ...
        Washakie County             8469.0           8443.0  ...
        Weston County               7114.0           7065.0  ...

                           RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME  CTYNAME
Alabama Autauga County             7.242091         -2.915927
        Baldwin County            14.832960         17.647293
        Barbour County            -4.728132         -2.500690
        Bibb County               -5.527043         -5.068871
        Blount County              1.807375         -1.177622
...                                     ...               ...
Wyoming Sweetwater County          1.072643         16.243199
        Teton County              -1.589565          0.972695
        Uinta County             -17.755986         -4.916350
        Washakie County          -11.637475         -0.827815
        Weston County            -11.752361         -8.040059

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
        Blount County             -1.748766         -2.062535
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
        Blount County             -1.369970     1.859511    -0.848580
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County       -2.722002     2.592270    -2.187333
        Baldwin County       22.727626    20.317142    18.293499
        Barbour County       -7.167664    -3.978583   -10.543299
        Bibb County          -5.403729     0.754533     1.107861
        Blount County        -1.402476    -1.577232    -0.884411
...                                ...          ...          ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195
        Teton County         21.160658    16.308671     1.520747
        Uinta County         -7.521840   -14.740608   -12.606351
        Washakie County      -2.250385   -18.020168     1.441961
        Weston County        12.372583     1.533635     6.935294

[3142 rows x 98 columns]

In [4]:
def First_approach():
    global df
    return (df.where(df['SUMLEV']==50)
           .dropna()
           .set_index(['STNAME','CTYNAME'])
           .rename(columns={'ESTIMATESBASE2010':'Estimate Base 2010'}))

df=pd.read_csv('/home/kirti/Data_sets/census.csv')
timeit.timeit(First_approach,number=10)

0.6486673679901287

In [6]:
def second_approach():
    global df
    new_df = df[df['SUMLEV']==50]
    new_df.set_index(['STNAME','CTYNAME'], inplace=True)
    return new_df.rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'})

# Read in our dataset anew
df = pd.read_csv('/home/kirti/Data_sets/census.csv')

# And now lets run it
timeit.timeit(second_approach, number=10)

0.08636682700307574

In [7]:
def min_max(row):
    data=row[['POPESTIMATE2010',
               'POPESTIMATE2011',
               'POPESTIMATE2012',
               'POPESTIMATE2013',
                'POPESTIMATE2014',
               'POPESTIMATE2015']]
    return pd.Series({'min':np.min(data),'max':np.max(data)})

In [8]:
df.apply(min_max,axis='columns').head()

       min      max
0  4785161  4858979
1    54660    55347
2   183193   203709
3    26489    27341
4    22512    22861

In [10]:
def get_state_region(x):
    northeast = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 
                 'Rhode Island','Vermont','New York','New Jersey','Pennsylvania']
    midwest = ['Illinois','Indiana','Michigan','Ohio','Wisconsin','Iowa',
               'Kansas','Minnesota','Missouri','Nebraska','North Dakota',
               'South Dakota']
    south = ['Delaware','Florida','Georgia','Maryland','North Carolina',
             'South Carolina','Virginia','District of Columbia','West Virginia',
             'Alabama','Kentucky','Mississippi','Tennessee','Arkansas',
             'Louisiana','Oklahoma','Texas']
    west = ['Arizona','Colorado','Idaho','Montana','Nevada','New Mexico','Utah',
            'Wyoming','Alaska','California','Hawaii','Oregon','Washington']
    
    if x in northeast:
        return "Northeast"
    elif x in midwest:
        return "Midwest"
    elif x in south:
        return "South"
    else:
        return "West"

In [11]:
df['State_region']=df['STNAME'].apply(lambda x: get_state_region(x))

In [13]:
df[['STNAME','State_region']].head()

    STNAME State_region
0  Alabama        South
1  Alabama        South
2  Alabama        South
3  Alabama        South
4  Alabama        South

# Splitting

In [6]:
df=df[df['SUMLEV']==50]
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [5]:
%%timeit -n 3

for state in df['STNAME'].unique():
    avg=np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])
    
    print('Counties in state '+ state + ' have an average population of: '+ str(avg))

Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791

Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667

Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652

Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635

Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483

Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667

Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2

Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625

Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0

Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
3.55 s ± 95.4 ms per loop (mean ± std. dev. of 7 runs, 3 loops each)

In [8]:
%%timeit -n 3
for group,frame in df.groupby('STNAME'):
    avg=np.average(frame['CENSUS2010POP'])
    
    print('Counties in state '+ group + ' have an average population of: '+ str(avg))

Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578

Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572

Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483

Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
Counties in state Alabama have an average population of: 71339.34328358209
Counties in state Alaska have an average population of: 24490.724137931036
Counties in state Arizona have an average population of: 426134.4666666667
Counties in state Arkansas have an average population of: 38878.90666666667
Counties in state California have an average population of: 642309.5862068966
Counties in state Colorado have an average population of: 78581.1875
Counties in state Connecticut have an average population of: 446762.125
Counties in state Delaware have an average population of: 299311.3333333333
Counties in state District of Columbia have an average population of: 601723.0
Counties in state Florida have an average population of: 280616.5671641791
Counties in state Georgia have an average population of: 60928.63522012578
Counties in state Hawaii have an average population of: 272060.2
Counties in state Idaho have an average population of: 35626.86363636364
Counties in state Illinois have an average population of: 125790.50980392157
Counties in state Indiana have an average population of: 70476.10869565218
Counties in state Iowa have an average population of: 30771.262626262625
Counties in state Kansas have an average population of: 27172.55238095238
Counties in state Kentucky have an average population of: 36161.39166666667
Counties in state Louisiana have an average population of: 70833.9375
Counties in state Maine have an average population of: 83022.5625
Counties in state Maryland have an average population of: 240564.66666666666
Counties in state Massachusetts have an average population of: 467687.78571428574
Counties in state Michigan have an average population of: 119080.0
Counties in state Minnesota have an average population of: 60964.65517241379
Counties in state Mississippi have an average population of: 36186.54878048781
Counties in state Missouri have an average population of: 52077.62608695652
Counties in state Montana have an average population of: 17668.125
Counties in state Nebraska have an average population of: 19638.075268817203
Counties in state Nevada have an average population of: 158855.9411764706
Counties in state New Hampshire have an average population of: 131647.0
Counties in state New Jersey have an average population of: 418661.61904761905
Counties in state New Mexico have an average population of: 62399.36363636364
Counties in state New York have an average population of: 312550.03225806454
Counties in state North Carolina have an average population of: 95354.83
Counties in state North Dakota have an average population of: 12690.396226415094
Counties in state Ohio have an average population of: 131096.63636363635
Counties in state Oklahoma have an average population of: 48718.844155844155
Counties in state Oregon have an average population of: 106418.72222222222
Counties in state Pennsylvania have an average population of: 189587.74626865672
Counties in state Rhode Island have an average population of: 210513.4
Counties in state South Carolina have an average population of: 100551.39130434782
Counties in state South Dakota have an average population of: 12336.060606060606
Counties in state Tennessee have an average population of: 66801.1052631579
Counties in state Texas have an average population of: 98998.27165354331
Counties in state Utah have an average population of: 95306.37931034483
Counties in state Vermont have an average population of: 44695.78571428572
Counties in state Virginia have an average population of: 60111.29323308271
Counties in state Washington have an average population of: 172424.10256410256
Counties in state West Virginia have an average population of: 33690.8
Counties in state Wisconsin have an average population of: 78985.91666666667
Counties in state Wyoming have an average population of: 24505.478260869564
33 ms ± 5.6 ms per loop (mean ± std. dev. of 7 runs, 3 loops each)

In [10]:
df=df.set_index('STNAME')

def set_batch_number(item):
    if item[0]<'M':
        return 0
    if item[0]<'Q':
        return 1
    return 2

for group,frame in df.groupby(set_batch_number):
    print('There are '+ str(len(frame))+ ' records in group '+ str(group) + ' under processing.')

KeyError: "None of ['STNAME'] are in the columns"

In [12]:
df=pd.read_csv('/home/kirti/Data_sets/listings.csv')
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [14]:
df=df.set_index(["cancellation_policy","review_scores_value"])

# When we have a multiindex we need to pass in the levels we are interested in grouping by
for group, frame in df.groupby(level=(0,1)):
    print(group)

('flexible', 2.0)
('flexible', 4.0)
('flexible', 5.0)
('flexible', 6.0)
('flexible', 7.0)
('flexible', 8.0)
('flexible', 9.0)
('flexible', 10.0)
('moderate', 2.0)
('moderate', 4.0)
('moderate', 6.0)
('moderate', 7.0)
('moderate', 8.0)
('moderate', 9.0)
('moderate', 10.0)
('strict', 2.0)
('strict', 3.0)
('strict', 4.0)
('strict', 5.0)
('strict', 6.0)
('strict', 7.0)
('strict', 8.0)
('strict', 9.0)
('strict', 10.0)
('super_strict_30', 6.0)
('super_strict_30', 7.0)
('super_strict_30', 8.0)
('super_strict_30', 9.0)
('super_strict_30', 10.0)

In [15]:
def grouping_fun(item):
    if item[1]=='10.0':
        return (item[0],'10.0')
    else:
        return (item[0],'not 10.0')
for group,frame in df.groupby(by=grouping_fun):
    print(group)

('flexible', 'not 10.0')
('moderate', 'not 10.0')
('strict', 'not 10.0')
('super_strict_30', 'not 10.0')

In [16]:
df.head()

                                               id  \
cancellation_policy review_scores_value
moderate            NaN                  12147973
                    9.0                   3075044
                    10.0                     6976
                    10.0                  1436513
flexible            10.0                  7651065

                                                                   listing_url  \
cancellation_policy review_scores_value
moderate            NaN                  https://www.airbnb.com/rooms/12147973
                    9.0                   https://www.airbnb.com/rooms/3075044
                    10.0                     https://www.airbnb.com/rooms/6976
                    10.0                  https://www.airbnb.com/rooms/1436513
flexible            10.0                  https://www.airbnb.com/rooms/7651065

                                              scrape_id last_scraped  \
cancellation_policy review_scores_value
moderate            NaN                  20160906204935   2016-09-07
                    9.0                  20160906204935   2016-09-07
                    10.0                 20160906204935   2016-09-07
                    10.0                 20160906204935   2016-09-07
flexible            10.0                 20160906204935   2016-09-07

                                                                                  name  \
cancellation_policy review_scores_value
moderate            NaN                                     Sunny Bungalow in the City
                    9.0                              Charming room in pet friendly apt
                    10.0                              Mexican Folk Art Haven in Boston
                    10.0                 Spacious Sunny Bedroom Suite in Historic Home
flexible            10.0                                           Come Home to Boston

                                                                                   summary  \
cancellation_policy review_scores_value
moderate            NaN                  Cozy, sunny, family home.  Master bedroom high...
                    9.0                  Charming and quiet room in a second floor 1910...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Come experience the comforts of home away from...
flexible            10.0                 My comfy, clean and relaxing home is one block...

                                                                                     space  \
cancellation_policy review_scores_value
moderate            NaN                  The house has an open and cozy feel at the sam...
                    9.0                  Small but cozy and quite room with a full size...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Most places you find in Boston are small howev...
flexible            10.0                 Clean, attractive, private room, one block fro...

                                                                               description  \
cancellation_policy review_scores_value
moderate            NaN                  Cozy, sunny, family home.  Master bedroom high...
                    9.0                  Charming and quiet room in a second floor 1910...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Come experience the comforts of home away from...
flexible            10.0                 My comfy, clean and relaxing home is one block...

                                        experiences_offered  \
cancellation_policy review_scores_value
moderate            NaN                                none
                    9.0                                none
                    10.0                               none
                    10.0                               none
flexible            10.0                               none

                                                                     neighborhood_overview  \
cancellation_policy review_scores_value
moderate            NaN                  Roslindale is quiet, convenient and friendly. ...
                    9.0                  The room is in Roslindale, a diverse and prima...
                    10.0                 The LOCATION: Roslindale is a safe and diverse...
                    10.0                 Roslindale is a lovely little neighborhood loc...
flexible            10.0                 I love the proximity to downtown, the neighbor...

                                         ... review_scores_communication  \
cancellation_policy review_scores_value  ...
moderate            NaN                  ...                         NaN
                    9.0                  ...                        10.0
                    10.0                 ...                        10.0
                    10.0                 ...                        10.0
flexible            10.0                 ...                        10.0

                                        review_scores_location  \
cancellation_policy review_scores_value
moderate            NaN                                    NaN
                    9.0                                    9.0
                    10.0                                   9.0
                    10.0                                  10.0
flexible            10.0                                   9.0

                                        requires_license license  \
cancellation_policy review_scores_value
moderate            NaN                                f     NaN
                    9.0                                f     NaN
                    10.0                               f     NaN
                    10.0                               f     NaN
flexible            10.0                               f     NaN

                                        jurisdiction_names instant_bookable  \
cancellation_policy review_scores_value
moderate            NaN                                NaN                f
                    9.0                                NaN                t
                    10.0                               NaN                f
                    10.0                               NaN                f
flexible            10.0                               NaN                f

                                        require_guest_profile_picture  \
cancellation_policy review_scores_value
moderate            NaN                                             f
                    9.0                                             f
                    10.0                                            t
                    10.0                                            f
flexible            10.0                                            f

                                        require_guest_phone_verification  \
cancellation_policy review_scores_value
moderate            NaN                                                f
                    9.0                                                f
                    10.0                                               f
                    10.0                                               f
flexible            10.0                                               f

                                        calculated_host_listings_count  \
cancellation_policy review_scores_value
moderate            NaN                                              1
                    9.0                                              1
                    10.0                                             1
                    10.0                                             1
flexible            10.0                                             1

                                         reviews_per_month
cancellation_policy review_scores_value
moderate            NaN                                NaN
                    9.0                               1.30
                    10.0                              0.47
                    10.0                              1.00
flexible            10.0                              2.25

[5 rows x 93 columns]

In [17]:
df=df.reset_index()

In [18]:
df.groupby('cancellation_policy').agg({'review_scores_value':np.average})

                     review_scores_value
cancellation_policy
flexible                             NaN
moderate                             NaN
strict                               NaN
super_strict_30                      NaN

In [19]:
df.groupby('cancellation_policy').agg({'review_scores_value':np.nanmean})

                     review_scores_value
cancellation_policy
flexible                        9.237421
moderate                        9.307398
strict                          9.081441
super_strict_30                 8.537313

In [21]:
df.groupby('cancellation_policy').agg({'review_scores_value':(np.nanmean,np.nanstd),
                                       'reviews_per_month':np.nanmean})

                    review_scores_value           reviews_per_month
                                nanmean    nanstd           nanmean
cancellation_policy
flexible                       9.237421  1.096271          1.829210
moderate                       9.307398  0.859859          2.391922
strict                         9.081441  1.040531          1.873467
super_strict_30                8.537313  0.840785          0.340143

# Transformation

In [22]:
cols=['cancellation_policy','review_scores_value']
transform_df=df[cols].groupby('cancellation_policy').transform(np.nanmean)
transform_df.head()

   review_scores_value
0             9.307398
1             9.307398
2             9.307398
3             9.307398
4             9.237421

In [24]:
transform_df.rename({'review_scores_value':'mean_review_scores'},axis='columns',inplace=True)
df=df.merge(transform_df,left_index=True,right_index=True)
df.head()

,cancellation_policy,review_scores_value,id,listing_url,scrape_id,last_scraped,name,summary,space,description,...,review_scores_location,requires_license,license,jurisdiction_names,instant_bookable,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,mean_review_scores
0,moderate,NaN,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",...,NaN,f,NaN,NaN,f,f,f,1,NaN,9.307398
1,moderate,9.0,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,...,9.0,f,NaN,NaN,t,f,f,1,1.30,9.307398
2,moderate,10.0,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",...,9.0,f,NaN,NaN,f,t,f,1,0.47,9.307398
3,moderate,10.0,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,...,10.0,f,NaN,NaN,f,f,f,1,1.00,9.307398
4,flexible,10.0,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",...,9.0,f,NaN,NaN,f,f,f,1,2.25,9.237421

# Scales

In [8]:
df=pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'],
                index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 
                       'ok', 'ok', 'ok', 'poor', 'poor'],
               columns=["Grades"])
df

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-
poor          D+
poor           D

In [9]:
df.dtypes

Grades    object
dtype: object

In [10]:
df['Grades'].astype('category').head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): [A, A+, A-, B, ..., C+, C-, D, D+]

In [11]:
my_categories=pd.CategoricalDtype(categories=['D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+'], 
                           ordered=True)

grades=df["Grades"].astype(my_categories)
grades.head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): [D < D+ < C- < C ... B+ < A- < A < A+]

In [12]:
df[df['Grades']>'C']

     Grades
ok       C+
ok       C-
poor     D+
poor      D

In [13]:
grades[grades>'C']

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
good         B-
ok           C+
Name: Grades, dtype: category
Categories (11, object): [D < D+ < C- < C ... B+ < A- < A < A+]

# Census Data

In [15]:
df=pd.read_csv('/home/kirti/Data_sets/census.csv')
df=df[df['SUMLEV']==50]
df=df.set_index('STNAME').groupby(level=0)['CENSUS2010POP'].agg(np.average)
df.head()

STNAME
Alabama        71339.343284
Alaska         24490.724138
Arizona       426134.466667
Arkansas       38878.906667
California    642309.586207
Name: CENSUS2010POP, dtype: float64

In [16]:
pd.cut(df,10)

STNAME
Alabama                   (11706.087, 75333.413]
Alaska                    (11706.087, 75333.413]
Arizona                 (390320.176, 453317.529]
Arkansas                  (11706.087, 75333.413]
California              (579312.234, 642309.586]
Colorado                 (75333.413, 138330.766]
Connecticut             (390320.176, 453317.529]
Delaware                (264325.471, 327322.823]
District of Columbia    (579312.234, 642309.586]
Florida                 (264325.471, 327322.823]
Georgia                   (11706.087, 75333.413]
Hawaii                  (264325.471, 327322.823]
Idaho                     (11706.087, 75333.413]
Illinois                 (75333.413, 138330.766]
Indiana                   (11706.087, 75333.413]
Iowa                      (11706.087, 75333.413]
Kansas                    (11706.087, 75333.413]
Kentucky                  (11706.087, 75333.413]
Louisiana                 (11706.087, 75333.413]
Maine                    (75333.413, 138330.766]
Maryland                (201328.118, 264325.471]
Massachusetts           (453317.529, 516314.881]
Michigan                 (75333.413, 138330.766]
Minnesota                 (11706.087, 75333.413]
Mississippi               (11706.087, 75333.413]
Missouri                  (11706.087, 75333.413]
Montana                   (11706.087, 75333.413]
Nebraska                  (11706.087, 75333.413]
Nevada                  (138330.766, 201328.118]
New Hampshire            (75333.413, 138330.766]
New Jersey              (390320.176, 453317.529]
New Mexico                (11706.087, 75333.413]
New York                (264325.471, 327322.823]
North Carolina           (75333.413, 138330.766]
North Dakota              (11706.087, 75333.413]
Ohio                     (75333.413, 138330.766]
Oklahoma                  (11706.087, 75333.413]
Oregon                   (75333.413, 138330.766]
Pennsylvania            (138330.766, 201328.118]
Rhode Island            (201328.118, 264325.471]
South Carolina           (75333.413, 138330.766]
South Dakota              (11706.087, 75333.413]
Tennessee                 (11706.087, 75333.413]
Texas                    (75333.413, 138330.766]
Utah                     (75333.413, 138330.766]
Vermont                   (11706.087, 75333.413]
Virginia                  (11706.087, 75333.413]
Washington              (138330.766, 201328.118]
West Virginia             (11706.087, 75333.413]
Wisconsin                (75333.413, 138330.766]
Wyoming                   (11706.087, 75333.413]
Name: CENSUS2010POP, dtype: category
Categories (10, interval[float64]): [(11706.087, 75333.413] < (75333.413, 138330.766] < (138330.766, 201328.118] < (201328.118, 264325.471] ... (390320.176, 453317.529] < (453317.529, 516314.881] < (516314.881, 579312.234] < (579312.234, 642309.586]]

# Pivot table

In [18]:
df=pd.read_csv('/home/kirti/Data_sets/cwurData.csv')
df.head()

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012

In [20]:
def create_category(ranking):
    if 1<=ranking<=100:
        return "First Tier Top University"
    elif 101<=ranking<=200:
        return "Second Tier Top University"
    elif 201<=ranking<=300:
        return "Second Tier Top University"
    return "Other Top University"

df['Rank Level']=df['world_rank'].apply(lambda x:create_category(x) )
df.head()

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year,Rank Level
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012,First Tier Top University
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012,First Tier Top University
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012,First Tier Top University
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012,First Tier Top University
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012,First Tier Top University

In [23]:
df.pivot_table(values='score',index='country',columns='Rank Level',aggfunc=[np.mean]).head()

                                mean                       \
Rank Level First Tier Top University Other Top University
country
Argentina                        NaN            44.672857
Australia                    47.9425            44.645750
Austria                          NaN            44.864286
Belgium                      51.8750            45.081000
Brazil                           NaN            44.499706


Rank Level Second Tier Top University
country
Argentina                         NaN
Australia                   48.851000
Austria                     47.066667
Belgium                     48.207500
Brazil                      49.565000

In [24]:
df.pivot_table(values='score',index='country',columns='Rank Level',aggfunc=[np.mean,np.max]).head()

                                mean                       \
Rank Level First Tier Top University Other Top University
country
Argentina                        NaN            44.672857
Australia                    47.9425            44.645750
Austria                          NaN            44.864286
Belgium                      51.8750            45.081000
Brazil                           NaN            44.499706

                                                           amax  \
Rank Level Second Tier Top University First Tier Top University
country
Argentina                         NaN                       NaN
Australia                   48.851000                     51.61
Austria                     47.066667                       NaN
Belgium                     48.207500                     52.03
Brazil                      49.565000                       NaN


Rank Level Other Top University Second Tier Top University
country
Argentina                 45.66                        NaN
Australia                 45.97                      50.40
Austria                   46.29                      47.78
Belgium                   46.21                      49.73
Brazil                    46.08                      49.82

In [27]:
df.pivot_table(values='score',index='country',columns='Rank Level',aggfunc=[np.mean,np.max],margins=True).
dropna().head()

                                mean                       \
Rank Level First Tier Top University Other Top University
country
Australia                  47.942500            44.645750
Belgium                    51.875000            45.081000
Canada                     53.633846            44.760541
China                      53.592500            44.564267
Denmark                    49.180000            45.177500

                                                                      amax  \
Rank Level Second Tier Top University        All First Tier Top University
country
Australia                   48.851000  45.825517                     51.61
Belgium                     48.207500  47.011000                     52.03
Canada                      48.022273  47.359306                     60.87
China                       47.288462  44.992575                     55.30
Denmark                     48.965000  47.774167                     52.94


Rank Level Other Top University Second Tier Top University    All
country
Australia                 45.97                      50.40  51.61
Belgium                   46.21                      49.73  52.03
Canada                    45.74                      51.23  60.87
China                     45.92                      48.14  55.30
Denmark                   45.83                      50.17  52.94

In [28]:
new_df=df.pivot_table(values='score',index='country',columns='Rank Level',aggfunc=[np.mean,np.max],margins=True)
print(new_df.index)
print(new_df.columns)

Index(['Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil', 'Bulgaria',
       'Canada', 'Chile', 'China', 'Colombia', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Egypt', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Iran',
       'Ireland', 'Israel', 'Italy', 'Japan', 'Lebanon', 'Lithuania',
       'Malaysia', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland',
       'Portugal', 'Puerto Rico', 'Romania', 'Russia', 'Saudi Arabia',
       'Serbia', 'Singapore', 'Slovak Republic', 'Slovenia', 'South Africa',
       'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'Turkey', 'USA', 'Uganda', 'United Arab Emirates', 'United Kingdom',
       'Uruguay', 'All'],
      dtype='object', name='country')
MultiIndex([('mean',  'First Tier Top University'),
            ('mean',       'Other Top University'),
            ('mean', 'Second Tier Top University'),
            ('mean',                        'All'),
            ('amax',  'First Tier Top University'),
            ('amax',       'Other Top University'),
            ('amax', 'Second Tier Top University'),
            ('amax',                        'All')],
           names=[None, 'Rank Level'])

In [29]:
new_df['mean']['First Tier Top University'].idxmax()

'United Kingdom'

In [30]:
type(new_df)

pandas.core.frame.DataFrame

In [3]:
pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [6]:
pd.Timestamp(2020,11,25,0,0).isoweekday()

3

In [10]:
pd.Period('1/2016')

Period('2016-01', 'M')

In [11]:
pd.Period('1/4/2020')

Period('2020-01-04', 'D')

In [12]:
pd.Period('1/4/2020') -2

Period('2020-01-02', 'D')

In [13]:
t1 = pd.Series(list('abc'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'), 
                             pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [15]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [16]:
t2 = pd.Series(list('def'), [pd.Period('2016-09'), pd.Period('2016-10'), 
                             pd.Period('2016-11')])
t2

2016-09    d
2016-10    e
2016-11    f
Freq: M, dtype: object

In [17]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

In [20]:
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']

ts3=pd.DataFrame(np.random.randint(10,100,(4,2)),index=d1,columns=list('ab'))
ts3

               a   b
2 June 2013   86  12
Aug 29, 2014  77  37
2015-06-26    52  34
7/12/16       57  89

In [24]:
ts3.index=pd.to_datetime(ts3.index,dayfirst=True )
ts3

             a   b
2013-06-02  86  12
2014-08-29  77  37
2015-06-26  52  34
2016-07-12  57  89

In [26]:
pd.Timestamp('9/3/2018')-pd.Timestamp('9/1/2016')

Timedelta('732 days 00:00:00')

In [28]:
pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D 3H')

Timestamp('2016-09-14 11:10:00')

In [32]:
dates=pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [34]:
pd.date_range('04-01-2016', periods=12, freq='QS-JUN')

DatetimeIndex(['2016-06-01', '2016-09-01', '2016-12-01', '2017-03-01',
               '2017-06-01', '2017-09-01', '2017-12-01', '2018-03-01',
               '2018-06-01', '2018-09-01', '2018-12-01', '2019-03-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

In [36]:
dates=pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
df=pd.DataFrame({'count1':100 +np.random.randint(-5,10,9).cumsum(),
                 'count2':120+ np.random.randint(-5,10,9)},index=dates)
df

            count1  count2
2016-10-02     101     122
2016-10-16     101     117
2016-10-30     101     122
2016-11-13     103     120
2016-11-27     105     125
2016-12-11     103     122
2016-12-25      99     129
2017-01-08      98     125
2017-01-22      98     121

In [38]:
df.index.weekday_name

Index(['Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday',
       'Sunday', 'Sunday'],
      dtype='object')

In [39]:
df.diff()

            count1  count2
2016-10-02     NaN     NaN
2016-10-16     0.0    -5.0
2016-10-30     0.0     5.0
2016-11-13     2.0    -2.0
2016-11-27     2.0     5.0
2016-12-11    -2.0    -3.0
2016-12-25    -4.0     7.0
2017-01-08    -1.0    -4.0
2017-01-22     0.0    -4.0

In [40]:
df['2017']

            count1  count2
2017-01-08      98     125
2017-01-22      98     121